link(rel='stylesheet' type='text/css' href="/stylesheets/styleLogin.css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
head
  meta(charset='utf-8')
  title Loginnnn
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link#favicon(rel='icon', href='/images/favicon-96x96.png', type='image/png')
main
  if errors
    each error in errors
      .alert.alert-danger= error

.jumbotron.text-center
  h1 LOGIN 
  .container
    .row
      .col-sm-9.col-md-7.col-lg-5.mx-auto
        .card.card-signin.my-5
          .card-body
            h5.card-title.text-center Login 
            form(method="POST")
              .form-label-group
                input#inputUserName.form-control( name='username', type='text', placeholder='username', value=values ? values.username : "")
                label(for='inputUserName') Name
              .form-label-group
                input#inputPassword.form-control(name='password', type='password',placeholder='password', value=values ? values.password : "")
                label(for='inputPassword') Password
              .custom-control.custom-checkbox.mb-3
                input#customCheck1.custom-control-input(type='checkbox')
                label.custom-control-label(for='customCheck1') Remember password
              button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Login
             
