link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
link(rel='stylesheet' type='text/css' href="/stylesheets/style.css")
h2 Oh hi,
a.btn.btn-secondary(href='/stores/' + stores[0].storeId + '/users') Users
a.btn.btn-primary(href='/stores/' + stores[0].storeId + '/products') Products
a.btn.btn-success(href='/stores/' + stores[0].storeId + '/products/createProduct') Add New Product