* {
  box-sizing: border-box;
}

h2 {
  color: 260820;
  margin-left: 70px;
}

p {
  color: #100700;
  margin-left: 70px;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}
form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
  margin-left: 50px;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}