h2 {
  color: #ca0b0b;
  margin-left: 50px;
}

p {
  margin-left: 50px;
}

table {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 100ch;
  align-self: center;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

