extends ../layouts/common
block content

	h2 Create User
	if errors
		each error in errors
			.alert.alert-danger= error
	form(action="/users/create", method="POST")
		label
		| New User
		input(name='username', type='text', maxlength='100', value=values ? values.username : "")
		input(name='password', type='password', maxlength='100', value=values ? values.password : "")
		button Add User
	