extends ../layouts/common
block content
   body
      header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/stores') Home
          li.nav-item.active
            a.nav-link(href='/users/listSalary') List Salary
          form.form-inline.mt-0(action='/stores/'+ users[0].storeId +'/users/search', method='GET')
            input.form-control.mr-sm-2(type='search', name='q', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul.navbar-nav.ml-auto
          li
            if user
             p.nav-link(href='#')= user.name
          li
            a.nav-link(href='/logout') Logout
      link(rel='stylesheet' type='text/css' href="/stylesheets/style.css")
      main
        h2 Oh hi,
        .container.mt-6
          form( method="POST")
            .form-group
              label Số Nghỉ Làm Trong Tháng
              input.form-control.col-md-3(name='dateOff', type='text', maxlength='100', value=values ? values.dateOff : "")
              br
              button.btn.btn-secondary(type='submit') Submit